@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #ffffff;
}

:root.light {
  --background: #ffffff;
  --foreground: #070606;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  letter-spacing: -0.04em;
}

.container {
  max-width: min(100%, 1420px);
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@keyframes scanner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scanner-slow {
  transform-origin: center;
  animation: scanner 24s linear infinite;
}

.animate-scanner-medium {
  transform-origin: center;
  animation: scanner 18s linear infinite;
}

.animate-scanner-fast {
  transform-origin: center;
  animation: scanner 12s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 16s ease infinite;
}

/* Typography System */
/* big-title: 60px medium -4% letter-spacing 140% line-height */
.text-big-title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

/* medium-title: 36px medium -4% letter-spacing 140% line-height */
.text-medium-title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

/* card-title: 20px medium -4% letter-spacing 140% line-height */
.text-card-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

/* big-description: 16px medium -4% letter-spacing 140% line-height */
.text-big-description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

/* small-description: 13px medium -4% letter-spacing 140% line-height */
.text-small-description {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4;
}
