@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070606;
  --foreground: #ffffff;
}

:root.light {
  --background: #ffffff;
  --foreground: #070606;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.container {
  max-width: min(100%, 1920px);
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@layer utilities {
  .tracking-tight {
    letter-spacing: -0.025em;
  }
}

@keyframes scanner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scanner-slow {
  transform-origin: center;
  animation: scanner 24s linear infinite;
}

.animate-scanner-medium {
  transform-origin: center;
  animation: scanner 18s linear infinite;
}

.animate-scanner-fast {
  transform-origin: center;
  animation: scanner 12s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 16s ease infinite;
}
